body{
    --s: 105px; /* control the size */
--c1: #b9b9b9;
--c2: #dcdcdc;
--c3: #fafafa;

/* background:
conic-gradient(from 75deg,var(--c1)   15deg ,var(--c2) 0 30deg ,#0000 0 180deg,
                          var(--c2) 0 195deg,var(--c1) 0 210deg,#0000 0) 
   calc(0.5*var(--s)) calc(0.5*var(--s)/0.577),
conic-gradient(var(--c1)   30deg ,var(--c3) 0 75deg ,var(--c1) 0 90deg, var(--c2) 0 105deg,
               var(--c3) 0 150deg,var(--c2) 0 180deg,var(--c3) 0 210deg,var(--c1) 0 256deg,
               var(--c2) 0 270deg,var(--c1) 0 286deg,var(--c2) 0 331deg,var(--c3) 0);
background-size: var(--s) calc(var(--s)/0.577); */
/* 0.577=tan(30deg)*/

  }
  
  .today_cal{
    box-shadow:inset 0 0 15px 0 #ccc;
    padding:5px;
    border-radius:50%;
  }
  .week_cal{
    background: #222;
  }
  .week_event{
    box-shadow:inset 0 0 15px 0 #ccc;
  }
  .days_cal{
    background: #222;
  }
  .white_cal{
    background: transparent;
  }
  .calwrap{
    position: relative;
    /* inset: 0px; */
    /* top: 50%; */
    display: grid;
    flex-direction: column;
    color: khaki;
    background-color: #0000;
    width:100%;
    max-width: 800px;
    height: 50vh;
    max-height: 100%;
    margin:0 auto;
  }
  .calwrap h1{
    text-align: center;
    padding: 1rem;
    color: khaki;
    font-size: 3vmax;
    text-shadow: 0 0 15px #000;
  }
  #calendar table{
    margin: 0px auto;
    border:1px solid goldenrod;
    padding: 1vmin;
    font-size:2.5vmax;
    box-shadow: 0 0 15px 0 #000;
    border-radius: 5px;
    width: 100%;
    min-height: 100%;
    height: auto;
  }
  .calwrap h1{
    padding: 2rem;
  }
  #calendar td{
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
    padding:1vmin;
    
  }
  #calendar td:hover{
      color: #000;
  border: 1px solid #0c0;
  font-weight:900 ;
  background: goldenrod;

  } 
  #calendar td:active{
font-size: 2vmax;
  font-weight:900 ;


  }

  tr:nth-child(1):hover{
    background: #cfc;
  }
  tr:nth-child(2):hover{
    background: #cfc;
  }
  tr:nth-child(3):hover{
    background: #cfc;
  }
  tr:nth-child(4):hover{
    background: #cfc;
  }
  tr:nth-child(5):hover{
    background: #cfc;
  }
  #calevent{
    position: absolute;
    top: 2px;
    cursor: pointer;
    padding: 1em;
    z-index:500;
  
  }
  .cals {
    position: fixed;
    inset: 1px;
    background:#0009;
  }
